<div class="author">
  <h1 class="author__heading">Search Results</h1>
</div>

<section class="articles">

  <ul class="article-ul">
    <% data.forEach(recipe => { %>
      <li>
        <a href="/recipe/<%= recipe._id %>">
          <span><%= recipe.title %></span>
          <span class="article-list__date"><%= recipe.createdAt.toDateString() %></span>
        </a>
      </li>
    <% }) %>
  </ul>


</section>
